<a href="https://colab.research.google.com/github/iryawan91/belajar-css-wpu/blob/master/data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

df = pd.read_csv("/content/bisa-data-science-python/heart.csv")
df.head(5)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [0]:
df3 = df[(df['age']>17)&(df['age']<40)]
df3

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
44    39    1   2       140   321    0  ...      0      0.0      2   0     2       1
58    34    1   3       118   182    0  ...      0      0.0      2   0     2       1
65    35    0   0       138   183    0  ...      0      1.4      2   0     2       1
72    29    1   1       130   204    0  ...      0      0.0      2   0     2       1
115   37    0   2       120   215    0  ...      0      0.0      2   0     2       1
124   39    0   2        94   199    0  ...      0      0.0      2   0     2       1
125   34    0   1       118   210    0  ...      0      0.7      2   0     2       1
154   39    0   2       138   220    0  ...      0      0.0      1   0     2       1
157   35    1   1       122   192    0  ...      0      0.0      2   0     2       1
163   38    1   2       138   175    0  ...      0      0.0      2   4     2       1
164   38    1   2       138   175    0  ...      0      0.0      2   4     2       1
212   39    1   0       118   219    0  ...      0      1.2      1   0     3       0
227   35    1   0       120   198    0  ...      1      1.6      1   0     3       0
239   35    1   0       126   282    0  ...      1      0.0      2   0     3       0
259   38    1   3       120   231    0  ...      1      3.8      1   0     3       0

[16 rows x 14 columns]

# New Section

In [0]:
X = df.iloc[:, 0:10]
Y = df.iloc[:, 10]
Y

0      0
1      0
2      2
3      2
4      2
      ..
298    1
299    1
300    1
301    1
302    1
Name: slope, Length: 303, dtype: int64

In [0]:
Y

0      0
1      0
2      2
3      2
4      2
      ..
298    1
299    1
300    1
301    1
302    1
Name: slope, Length: 303, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.1)
y_train

15     1
297    1
148    2
4      2
56     2
      ..
285    1
70     1
2      2
110    2
146    1
Name: slope, Length: 272, dtype: int64

In [0]:
from sklearn.svm import SVC
clf=SVC()
clf=clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

In [0]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred, y_test))

0.5161290322580645